.contact tr {
  height: 7rem;
}

.contact th {
  width: 150px;
  text-align: right;
  padding: 0;
  font-size: 1.5rem;
}

.haba {
  width: 480px;
  padding: 0;
}
.button {
  border :0;
  padding: 5px;
  margin-bottom: 200px;
  width: 70px;
  height: 40px;
  font-size: 18pt;
  text-align: center;
  background: skyblue;
  color: white;
}

.button:hover {
  opacity : 0.5;
}